{% extends "base.html" %}
{% block title %}パスワードの変更 - Anaume-app{% endblock title %}
{% block content %}
    <div class="card my-5 text-center mx-auto">
        <form action="" method="POST">
            <div class="card-header">
                <h5 class="card-title my-0">パスワードの変更</h5>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% for field in form %}
                        {{ field.label }}:
                        {{ field }}
                        <p class="btn-danger">{{ field.errors }}</p>
                        <hr>
                    {% endfor %}
                    <ul>
                        <li>パスワードは最低8文字以上必要です。</li>
                        <li>ユーザ名と似たパスワードにはできません。</li>
                        <li>よく使われるパスワードにはできません。</li>
                        <li>数字だけのパスワードにはできません。</li>
                    </ul>
                    <button type="submit" class="btn btn-warning btn-lg btn-block">変更</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    {% csrf_token %}
                </form>
            </div>
        </form>
    </div>
{% endblock content %}