{% extends "base.html" %}
{% block title %}dashboard.html{% endblock title %}
{% block content %}
    <h1>ダッシュボード</h1>
    <div class="row bg-white w-100 mx-auto border border-primary rounded">
        <div class="col-md-1 d-none d-md-flex align-items-center">
            <p class="circle" style="background: #999999"></p>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center text-center text-md-left border-right border-left">
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-0">
                    <h4 class="my-2">{{ user.get_username }}でログイン中です</h4>
                </li>
                <li class="list-group-item py-0">
                    <a href="{% url 'account:logout' %}" class="my-2 btn btn-sm btn-danger">ログアウトする</a>
                </li>
                <li class="list-group-item py-0">
                    <a href="{% url 'account:index' %}" class="my-2 btn btn-sm btn-secondary">アカウントの管理</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <a href="{% url 'main:mynote' %}" class="btn btn-success px-5 py-4 my-4 font-weight-bold">マイ英文帳ページ<br>作成・閲覧・印刷</a>
        </div>
    </div>
    <div class="row w-100 mx-auto d-flex justify-content-around">
        <div class="col-md-5 bg-white border border-warning rounded text-center mt-4" style="height: 300px">
            <h4 class="border-bottom border-warning py-3">お気に入りの英文帳一覧</h4>
            お気に入りの英文帳を探して<br>☆を押してみませんか?
            <p>coming soon...</p>
        </div>
        <div class="col-md-5 bg-white border border-success rounded text-center mt-4" style="height: 300px">
            <h4 class="border-bottom border-success py-3">英文帳の履歴</h4>
            <div>
                まずは英文帳を作成してみましょう!
                <p>coming soon...</p>
            </div>
        </div>
    </div>
{% endblock content %}
