{% extends "base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% block extra_css %}{% endblock %}
{% block title %}Favorites - Anaume.app{% endblock title %}

{% block content %}
    <h1>お気に入りの英文帳</h1>
    <ul class="list-group">
        {% for fav in favs %}
            <li class="list-group-item px-5 py-3">
                <button class="btn-fav border-0" formaction="{% url 'main:fav_note' note_id=fav.note.id %}">
                    <i class="fas fa-star"></i>
                </button>
                <a href="{% url 'main:note' fav.note.id %}">{{ fav.note.title }}</a>
                <small class="text-muted">({{ fav.note.user.username }})</small>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/btn-fav.js' %}"></script>
{% endblock %}