{% load i18n static %}
{% load bootstrap_icons %}

<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    {% include 'head.html' %}
    <title>{% block title %}Anaume-app{% endblock %}</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <div class="row bg-white w-100 mx-auto py-4">
        <div class="col-sm-1 d-none d-sm-flex align-items-center">
            <p class="circle" style="background: #999999"></p>
        </div>
        <div class="col-sm-5 d-flex align-items-center">
            <h1 style="font-size: 40px">
                <label class="toggle" for="test">穴埋め</label>アプリの<br>
                <input class="d-none check_box" type="checkbox" id="test" name="scales">
                ご利用ありがとうございます！


            </h1>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-0">
                    <small>寄付してくださった方々<br>(ニックネーム/敬称略)</small>
                </li>
                <li class="list-group-item text-muted">
                    {% include 'list_specialthanks.html' %}
                </li>
                <h6 class="logo my-3">8989 yen was donated. Thank you!</h6>
            </ul>
        </div>
        <div class="text-center w-100 mt-4">
            <a href="{% url 'main:search_note' %}" class="btn px-5 py-3 btn-primary mb-2">全暗記帳を見る・探す</a>
            <br>
            <a href="{% url 'account:signup' %}" class="btn btn-success mb-2">サインアップして作成!</a>
            <a href="{% url 'account:login' %}" class="btn btn-secondary mb-2">ログイン</a>
        </div>
    </div>
    <div class="row w-100 mx-auto">
        <div class="col-lg-6 p-3 border border-bottom-0 border-primary">
            <p class="circle" style="background: #999999"></p>
            <h2>サンプルを見る</h2>
            <div class="d-inline-flex flex-wrap flex-row justify-content-center w-100">
                <div class="note py-2 mx-2 mb-3 row"
                     onclick="location.href='https://anaume-app.herokuapp.com/note/1'"
                     title="この英文帳を閲覧・編集">
                    <div class="col-1 d-flex align-items-center" style="min-width: 50px; min-height: 50px">
                        <p class="circle"></p>
                    </div>
                    <div class="col-9 px-0 d-flex align-items-center">
                        <p>
                            タイトル:<a href="https://anaume-app.herokuapp.com/note/1"> DUO 121-140</a>
                            <br>作成者: sakamoto
                    </div>
                </div>
                <div class="note py-3 mx-3 mb-4 row d-none d-lg-flex"
                     onclick="location.href='https://anaume-app.herokuapp.com/note/37'"
                     title="この英文帳を閲覧・編集">
                    <div class="col-1 d-flex align-items-center" style="min-width: 50px; min-height: 50px">
                        <p class="circle"></p>
                    </div>
                    <div class="col-9 px-0 d-flex align-items-center">
                        <p>
                            タイトル:<a href="https://anaume-app.herokuapp.com/note/37"> DUO 141-165</a>
                            <br>作成者: sakamoto
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 bg-success text-white p-3">
            <p class="circle" style="background: #999999"></p>
            <h2><span class="logo">AnaUme-App</span>の3つの特徴</h2>
            <ol style="font-size: 25px;">
                <li>穴埋め型に特化した英文帳</li>
                <li>Web上で素早く作成</li>
                <li>プリントとして印刷して手書きでも使える</li>
            </ol>
        </div>
    </div>
    <div class="row w-100 mx-auto">
        <div class="col-lg-6 p-3 border border-top-0 border-primary">
            <p class="circle" style="background: #999999"></p>
            <h3>英文帳を探す</h3>
            <form action="{% url 'main:search_note' %}" method="get" class="text-center">
                <div class="form-group">
                    <input class="form-control" value="{{ request.GET.query }}"
                           name="query" type="text"
                           placeholder="英文帳の検索">
                </div>
                <button type="submit" class="btn btn-success w-50"><i class="fas fa-search mr-2"></i>検索</button>
            </form>
        </div>
        <div class="col-lg-6 bg-dark text-white p-3">
            <p class="circle" style="background: #999999"></p>
            <h3>お問い合わせ</h3>
            <p>ご要望、ご質問、バグの発見報告等は <a href="mailto:syun1.sakamoto&#64;fuji.waseda.jp">syun1.sakamoto＠fuji.waseda.jp</a>
                までどうぞ</p>
            <a class="btn btn-outline-light" href="mailto:syun1.sakamoto&#64;fuji.waseda.jp"><i
                    class="far fa-envelope mr-2"></i>お問い合わせ</a>
        </div>
    </div>
    <div id="page_top"><a href="#"></a></div>
    {% include 'footer.html' %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</div>

</body>
</html>