{% extends "base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% load note_to_fav %}
{% block title %}マイ英文帳 - Anaume-app{% endblock title %}
{% block content %}
    <h1>マイ英文帳ページ</h1>
    <div class="card w-75 mx-auto mt-4 mb-5 p-0 text-center border-primary">
        <div class="card-body">
            <h5 class="step">STEP 0</h5>
            <h5 class="card-title">新規の英文帳を作成</h5>
            <h6 class="card-subtitle mb-2 text-muted">新しく英文を覚えよう</h6>
            <form id="ajax-add-note" action="{% url 'main:mynote' %}" method="POST">
                {#    <input type="text" id="id_title" required>#}
                {% bootstrap_form note_form layout='horizontal' %}
                <button class="btn btn-primary w-50" type="submit"><i class="fas fa-bookmark mr-1"></i>作成</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <h3>一覧表示</h3>
    <div class="notes text-center">
        <div class="d-inline-flex flex-wrap flex-row justify-content-center">
            <div class="note m-75 py-3 mb-4 mx-3 row new" id="notes">
                <div class="col-1 d-flex align-items-center" style="min-width: 50px; min-height: 50px">
                    <p class="circle"></p>
                </div>
                <div class="col-9 px-0 d-flex align-items-center">
                    <h5>あなたの英文帳一覧 <br> (合計{{ object_list.count }}個)</h5>
                </div>
            </div>
            {% for note in object_list %}
                <div class="note m-75 py-3 mx-3 mb-4 row"
                     onclick="location.href='{% url 'main:note' note_id=note.id %}'"
                     data-toggle="tooltip"
                     title="この英文帳を閲覧・編集">
                    <div class="col-1 d-flex align-items-center" style="min-width: 50px; min-height: 50px">
                        <p class="circle"></p>
                    </div>
                    <div class="col-9 px-0 d-flex align-items-center">
                        <p>
                            タイトル:<a href="{% url 'main:note' note_id=note.id %}"> {{ note.title }}</a>
                            <br>作成者: {{ note.user }}
                    </div>
                </div>
                <div class="text-right position-relative">

                    <button class="btn-fav position-absolute" style="top:40px ;right: 5px"
                            formaction="{% url 'main:fav_note' note_id=note.id %}"
                            data-toggle="tooltip"
                            title="お気に入り/解除">
                            <i class="{% note_to_fav user note %} fa-star"></i>
                    </button>
                    <button class="btn btn-sm btn-danger position-absolute del_note_confirm"
                            style="top: 130px; right: 7px"
                            id="n{{ note.id }}"
                            data-toggle="modal"
                            title="この英文帳を削除"
                            data-target="#deleteNoteModal" data-pk="{{ note.title }}"
                            data-url="{% url 'main:delete_note' note_id=note.id %}"><i
                            class="fas fa-trash-alt"></i>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="deleteNoteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">確認</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>英文帳:<span id="del_note_pk"></span> を削除しますか？</p>
                    <p>復元はできません。</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" id="del_note_url">削除</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/mynote.js' %}"></script>
    <script src="{% static 'js/btn-fav.js' %}"></script>
{% endblock %}