{% load i18n static %}
{% load bootstrap_icons %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    {% include 'head.html' %}
    <title>{% block title %}EnglishApp{% endblock %}</title>
</head>
<body>
{% include 'navbar.html' %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <div class="row mx-auto w-100 d-flex flex-column">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{% static 'js/base.js' %}"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-97KMPTWK2Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-97KMPTWK2Z');
</script>
{% block extra_js %}{% endblock %}
</body>
</html>