<footer class="pt-4 my-md-4 pt-md-4 row mt-4 w-100 mx-0">
        <div class="col-12 text-center mb-3">
            <small class="d-block mb-1 text-muted">Please share this application!</small>
            <a href="https://twitter.com/share?url=https://anaume-app.herokuapp.com/&text=穴埋め式の記憶法で英文を楽に覚えよう&hashtags=anaume" class="btn btn-secondary mx-3" style="width: 40px; height: 40px; background-color: #00acee"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/share.php?u=https://anaume-app.herokuapp.com/" class="btn btn-secondary mx-3" style="width: 40px; height: 40px; background-color: #3b5998"><i class="fab fa-facebook-f"></i></a>
            <a href="https://social-plugins.line.me/lineit/share?url=https://anaume-app.herokuapp.com/" class="btn btn-secondary mx-3" style="width: 40px; height: 40px; background-color: #06c755"><i class="fab fa-line"></i></a>
        </div>
        <div class="col-12 text-center mb-3">
            <h3 class="logo">AnaUme-App</h3>
            <small class="d-block text-muted">© 2021 Shunichiro Sakamoto</small>
        </div>
        <div class="col-12 text-center mb-3">
            <a class="text-muted" href="https://github.com/mongesan/Anaume-app"><i class="fab fa-github mr-1"></i>Github リポジトリ<i class="fas fa-external-link-alt ml-2"></i></a><br>
            <a class="text-muted" href="https://www.gakuryokuup.com/">第二回 学力向上アプリコンテスト(応募中)<i class="fas fa-external-link-alt ml-2"></i></a>
        </div>
</footer>