<footer class="row w-100 mx-0 my-5" id="footer">
    <div class="col-12 text-center mb-3">
        <h3 class="logo">AnaUme-App</h3>
        <small class="d-block text-muted">© 2021-<script>document.write(new Date().getFullYear())</script> Shunichiro Sakamoto</small>
    </div>
    <div class="col-12 text-center">
        <a class="text-muted" href="https://github.com/mongesan/Anaume-app"><i class="fab fa-github mr-1"></i>Github
            リポジトリ<i class="fas fa-external-link-alt ml-2"></i></a><br>
    </div>
</footer>
{#<a href="#" class="nav-btn border-dark" style="bottom: 20px;" data-toggle="tooltip"#}
{#   title="TO TOP"><i class="fas fa-arrow-up"></i></a>#}
{#<a href="#footer" class="nav-btn border-dark" style="bottom: 0px;" data-toggle="tooltip"#}
{#   title="TO BOTTOM"><i class="fas fa-arrow-down"></i></a>#}
{#<a href="#footer" class="footer-btn" style="right: 10px;" data-toggle="tooltip"#}
{#   title="穴埋め表示/非表示"><i class="fa-solid fa-eye-slash"></i></a>#}
