<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
    <a class="navbar-brand" href="{% url 'main:index' %}">AnaUme-App <small>(v2)</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:index' %}"><i class="fas fa-home mr-1"></i>HOME</a>
            </li>
            {% if user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:login' %}"><i class="fas fa-sign-in-alt mr-1"></i>LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:signup' %}"><i class="fas fa-user-plus mr-1"></i>SIGNUP</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:mynote' %}"><i class="fas fa-bookmark mr-1"></i>MY-NOTE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:favorite' %}"><i class="fas fa-star mr-1"></i>FAVORITES</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user mr-1"></i>{{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'main:index' %}">ダッシュボード</a>
                        <a class="dropdown-item" href="{% url 'main:history' %}">閲覧履歴</a>
                        <a class="dropdown-item" href="{% url 'account:index' %}">アカウント</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item bg-danger text-white" href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt mr-1"></i>ログアウト</a>
                    </div>
                </li>

            {% endif %}
            <li class="nav-item">
                    <a class="nav-link btn btn-dark text-white" href="{% url 'main:search_note' %}"><i class="fa-solid fa-book mr-1"></i>ALL-NOTES</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'main:search_note' %}" method="GET">
            <input class="form-control mr-sm-2" type="search" name="query" value="{{ request.GET.query }}" placeholder="英文帳の検索" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit"><span class="d-none d-lg-block">Search</span><i class="fas fa-search d-lg-none"></i></button>
        </form>
    </div>
</nav>