body {
    padding-top: 100px;
    background-color: #eeeeee;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.navbar, .logo{
    font-family: 'Quicksand', sans-serif;
}

.toggle {
    user-select: text;
    color: #FF530D;
    background: white;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #E82C0C;
    border-radius: 5px;
}

.check_box:checked + label {
    user-select: none;
    color: #FF530D;
    background: #FF530D;
}

.note {
    position:relative;
    width: 280px;
    height: 170px;
    list-style-type: none;
    user-select: none;
    background: #9fcdff;
    background:
            linear-gradient(135deg, transparent 0px, #9fcdff 0) top left,
            linear-gradient(225deg, transparent 20px, #9fcdff 0) top right,
            linear-gradient(315deg, transparent 0px, #9fcdff 0) bottom right,
            linear-gradient(45deg, transparent 0px, #9fcdff 0) bottom left;
    border: none;
    border-radius: 5px;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    box-shadow: 0 10px 0 #777777;
    opacity: 1;
    transition: all 0.3s;
}

.note:hover{
    opacity: 0.8;
}

.note:active{
    top: 5px;
    box-shadow: 0 5px 0 #777777;
}

.circle {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
}

.step {
    margin-right: 40%;
    margin-left: 40%;
    background-color: #007bff;
    border-radius: 5px;
    color: #ffffff;
}

.opacity {
    opacity: 0.3;
}

.new {
    background: #FFB687;
    background:
            linear-gradient(135deg, transparent 0px, #FFB687 0) top left,
            linear-gradient(225deg, transparent 20px, #FFB687 0) top right,
            linear-gradient(315deg, transparent 0px, #FFB687 0) bottom right,
            linear-gradient(45deg, transparent 0px, #FFB687 0) bottom left;
    border: none;
    border-radius: 5px;
    background-size: 51% 51%;
    background-repeat: no-repeat;
}

@media screen and (max-width:400px) {
    .note {
        width: 210px;
    }
}

input#name_change, .name_change_form, .note_select_form, input#name_change:checked ~ #title ,input#select:checked ~ div.notes{
    display: none;
}

input#name_change:checked ~ .name_change_form,input#select:checked ~ .note_select_form{
    display: block;
}

.btn-fav{
    border: #6c757d solid 2px;
    border-radius: 8px;
    background: #ffffff;
    color: #ffc107;
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s;
}

.btn-fav:hover{
    background: #ffc107;
    color: #ffffff;
}

.btn-fav:active{
    opacity: 0.8;
}

.nav-link{
    transition: all 0.3s;
}

#page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background: #fff;
    color: #737373;
    padding: 10px;
    border: solid 1px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
    transition: all 0.3s;
}

#page-top:hover {
    background: #737373;
    color: #fff;
}